<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read (All)</title>

    <body>
    <div class="container">
        <div class="row mt-5 mb-4">
            <div class="col">
                <h1>All Shows</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Network</th>
                            <th scope="col">Release Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for show in shows %}
                        <tr>
                            <th scope="row" class="align-middle">{{ show.id }}</th>
                            <td class="align-middle"> {{ show.title }}</td>
                            <td class="align-middle"> {{ show.network }}</td>
                            <td class="align-middle"> {{ show.release_date.date }}</td>
                            <td class="align-middle">
                                <a href="/shows/{{ show.id }}" class="btn btn-primary">Show</a>
                                <a href="/shows/{{ show.id }}/edit" class="edit-custom btn btn-info">Edit</a>
                                <a href="/shows/{{ show.id }}/destroy"
                                    class="delete-custom text-white btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a href="/shows/new" class="nav-style btn btn-outline-primary">Add a New Show</a>
            </div>
        </div>
    </div>

</body>

</html>